html,
body {
    padding: 0;
    margin: 0;
    background-color: rgb(31,31,58);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

* {
  box-sizing: border-box;
}

.DisplayCards{
    height: 90px;
    width: auto;
    padding: 0 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

button {
    background-color: #f1ebf3;
}

#lined-chords {
    display: flex;
    flex-wrap: nowrap;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}



/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
